.main{
	width:980px;
	border:4px solid #ccc;
}
	.banner {
    float: left;
    width: 100%;
}
	


.nav{
	float: left;
	width: 47%;
	background-color: #B3C3D2;
	padding: 59px 0px;
	
}
.nav ul{
	list-style:none;
	padding:0px;
	margin:0px;
	width:100%;
	float:left;
}
.nav ul li{
	float:left;
}
.nav ul li a{
	padding: 2px 12px;
	float: left;
	
}
.nav ul li ul li{
	float: none;	
}
.nav ul li ul{
	float: left;
	width: 120px;
	position: absolute;
	top: 20px;
	z-index: 99999;
}
.nav  ul li{
	position:relative;
}
 .nav ul li:hover, .nav ul li:hover ul{
	background:white;
	color:black;
	display:block !important;
	
}

.nav li ul li ul li:hover{
	background:white;
	color:black;
}
.nav li ul li ul li a{
	float: none;
	display: block;
	
}

.message{
	background-color: #20337F;
	text-align: right;
	padding: 3px;
	width: 971px;
	height: 58;
}



.container{
	width:980px;
	height:240px;
}
.left{
	width:33%;
	height:110px;
	float:left;
}
.middle{
	width:33%;
	height:110px;
	float:left;
}
.right{
	width:34%;
	height:110px;
	float:left;
}
.footer{
	clear:both;
}
.container1{
	width:980px;
}
.left1{
	background-color:#FE9A68;
	float:left;
	width:33%;
	height:150px;
	
}
.middle1{
	background-color:#FADFAA;
	float:left;
	width:33%;
	height:150px;
	
}
.right1{
	background-color: #FE9A68;
    float: left;
    height: 150px;
    width: 329;
}
.footer1{
	text-align:center;
	clear:both;
	background-color:#FADFAA;
}

