main{
	width:980px;
}
header{
	background-color:red;
	height:200px;
	
}
nav{
	background-color:green;
	height:50px;
	
}
footer{
	background-color:black;
	height:50px;
	clear:both;
}
.left{
	background-color:yellow;
	height:150px;
	float:left;
	width:34%;
}
.middle{
	background-color:blue;
	height:150px;
	float:right;
	width:33%;
}
.right{
	background-color:orange;
	height:150px;
	float:right;
	width:33%;
}
	
	