main{
	width:980px
	border:1px solid #ccc;
	margin:0 auto;
	padding:5px;
}
.header{
	background-color:red;
	height:200px;
	
}
.nav{
	background-color:black;
	height:50px;
	
}
.footer{
	background-color:#811;
	height:50px;
	clear:both;
	text-align:center;
}
.left{
	background-color:pink;
	height:150px;
	float:left;
	width:34%;
}
.middle{
	background-color:blue;
	height:150px;
	float:right;
	width:33%;
}
.right{
	background-color:orange;
	height:150px;
	float:right;
	width:33%;
}
	
	
.nav ul{
	float:left;
	padding:0px;
	margin: 0px;
	list-style: none;
	width: 100%;
}
.nav ul li{
	float: left;
}


.nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:8px 13px; 
	float:left;
	
}

.social-icon{
	text-align: right;
    width: 70%;
    float: right;
    padding: 22px;
}
	
}
.logo{
	float:left;
	padding:22px;
	width:30%
}
.nav a:hover{
	background:white;
	color:black;
	padding:5px;
	
}