.main{
	width:980px;
	margin:0 auto;
	border:1px solid #ccc;
	
}
.header{
	width:980px;
}




.container{
	width: 980px;
	margin: auto;	
}

.nav {
	background-color:#EAE6CB;
	float:left;
	width: 100%;

}
.nav ul{
	list-style:none;
	float:left;
	padding:0px;
	margin:opx;
	position:relative;
}
.nav ul li{
	float:left;
}
.nav ul li  a{
	text-decoration:none;
	padding:8px 35px;
	display: block;
	
}
.nav li ul {
	float:none;
}
.nav ul li ul{
	position:absolute;
	width: 160px;
}

.nav ul li ul li{
	float: none;	
}

.nav ul li ul li:hover{
	background-color: #EAE6CB;
}
.nav ul li:hover,.nav ul li:hover ul{
	background:#9AE04A;
	color:white;
	display: block !important;
}

.banner{
	float: left;
	width: 100%;	
}
.banner img{
	width: 100%;
}
.footer{
	background-color:#9CE24B;
	text-align:center;
	clear:both;
}