.container{
	background:#A2B866;
	width:680px;
	margin: 0 auto;
	height:250px;
}
.header{
	width: 98%;
    float: left;
    padding: 1%;
}
.logo {
    width: 45%;
    float: left;
    padding: 1%;
}

.social-icon{
	width: 49%;
    float: left;
    text-align: right;
    padding: 2%;
}

@media screen and (min-width: 320px) and (max-width: 480px){ 
	.container{
		background:yellow;
		width:100%;
		margin: 0 auto;
		height:280px;
	}

}