body{
	margin:0px;
}
.outer-table{
	width:980px;
	border-spacing:0px;
	border: 1px solid #CCC;
}
.header{
	background-color:red;
	padding:0px;
}
#nav{
	background-color:blue;
}
#nav a{
	text-decoration:none;
	color:yellow;
}
#nav  a:hover{
	background:red;
	color:yellow;
}