.main{
	width:980px;
	margin: 0 auto;
	border: 4px solid #321;
}

.header{
	float: left;
	width: 100%;
	
}
.logo{
   float: left;
   width: 30%;
}
#nav{
	background-color:black;	
	float:left;
	width: 70%;
	padding: 24px 0px;
}

#nav ul{
	list-style: none;
	padding: 0;
	margin: 0;	
	position: relative;
	float: left;
	width: 100%;
}

#nav ul li{
	float: left;
	
}
#nav ul li a{
	padding: 8px 15px;
	float: left;
}

#nav ul li ul{
	float: left;
	width: 120px;
	position: absolute;
	top: 35px;
	z-index: 99999;
}

#nav ul li ul li{
	float: none;	
}
/*#nav ul li ul a,#nav ul li ul li a{
	background-color:yellow;
	float:none;
	width:100%;
	height:70px;
	display:block;

}*/
 #nav ul li:hover, #nav ul li:hover ul{
	background:white;
	color:black;
	display:block !important;
	
}

#nav ul li ul li:hover{
	background:white;
	color:black;
}
#nav ul li{
	position:relative;
}
	
#nav ul li ul li:hover{
	background-color: red;
    color: white;	
}
#nav ul li ul li a{
	float: none;
	display: block;
	
}
.contact{
	width:450px;
}

.banner{
	width:980px;
}
.message{
    background-color: #DDC389;
    text-align: center;
    padding: 6px;
    width: 969px;
}

	
	
.inner-container{
	width: 980px;
    padding: -1px;
}	
.left {
    background-color: #B7C7F1;
    float: left;
    height: 150px;
    text-align: center;
    width: 34%;
}
.left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.middle{
	background-color:#B7C7F1;
	height:150px;
	float:left;
	width:33%;
	text-align:center;
	
	
}
.right{
	background-color:#B7C7F1;
	height:150px;
	float:left;
	width:33%;
	text-align:center;

}
.footer1{
	background-color: black;
    clear: both;
    padding: 2px;
}

.footer{
    clear: both;
    padding: 8px 0;
    text-align: center;
}
.left1{
	float: left;
    height: 150px;
    background-color: #D8CA7C;
    width: 337px;

}
.right1{
	float: left;
	background-color: #D8CA7C;
	height: 150px;
	width: 306px;

}
.right1 label {
    display: inline-block;
    padding: 7px;
    width: 94px !important;
}
.middle1{
	float: left;
    background-color: #D8CA7C;
	height: 150px;
	width: 337px;
}
.middle1 img {
    display: block;
    padding: 12px;
}
/* */
.left1 ul li a:hover{
	background:black;
	color:white;
	padding:5px;
	
} 
	
	

