.main {
    width: 980px;
    height: 1349px;
    margin: 0px auto;
    border: 1px solid #CCC;
}
.header{
	width:100%;
	float:left;
	padding:10px;
}


.text{
	color:black;

}
.Table
    {
        display: table;
		padding:10px;
    }
    .Title
    {
        display: table-caption;
        text-align: left;
        font-weight: bold;
        font-size: larger;
		padding:10px;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: left;
    }
.Row
    {
        display: table-row;
    }
	
 .Cell
    {
        display: table-cell;
        border: 1px solid;
		text-align:left;
		width:980px;
    }

.personal-details{
	text-align:left;
	float:left;
	width:100%;
}
.Row1{
	width:100%;
	float:left;
	
}
.row2{
	padding:6px;
	width:100%;
	float:left;
}
.left1{
	width:250px;
	float:left;

}
.right1 ul{
	list-style:none;
	
}
.right1{
	width:700px;
	float:left;
	text-decoration:none;
}
.row3{
	padding:6px;
	width:100%;
	float:left;
}
.footer{
	width:100%;
	padding:5px;
	float:left;
	
}
.left{
	width:200px;
	float:left;

}
.right ul{
	list-style:none;
	
}
.right{
	width:300px;
	float:left;
	text-decoration:none;
}


